body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: bold;
}
.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.nav-item {
    position: relative;
    margin: 0 15px;
}
.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.dropdown-columns {
    display: flex;
    justify-content: space-between;
}
.dropdown-column {
    flex: 1;
    padding: 0 10px;
}
.dropdown-content h3 {
    margin-top: 0;
    color: #333;
}
.dropdown-content a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
    display: block;
}
.nav-item:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.single-dropdown {
    min-width: 200px;
}
main {
    flex-grow: 1;
    padding: 0px;
}
    .custom-position-section {
        position: relative;
        height: 640px; /* Set the height of the section */
        padding: 30px; /* Adds padding inside the section */
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('images/home-background-small.JPG'); /* Default image for smaller screens */

    }

    /* For width 450px and larger: */
@media only screen and (min-width: 450px) {
    .custom-position-section { 
       background-image: url('images/home-background.jpg'); 
    }
  }

    .object-button {
        position: absolute;
        left: 80px;
        bottom: 60px;
        font-size: 20px;
        color: white; /* Text color */
        flex-wrap: wrap;
    }

    .get-started {
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        padding: 20px;
        width: 160px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .get-started span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .get-started span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .get-started:hover span {
        padding-right: 25px;
      }
      
      .get-started:hover span:after {
        opacity: 1;
        right: 0;
      }

      #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 16px;
        border: none;
        outline: none;
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }
      
      #myBtn:hover {
        background-color: #555;
      }

footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-section {
    flex: 1;
    margin: 0 20px;
    min-width: 100px;
}
.footer-section h3 {
    margin-bottom: 20px;
    font-size: 18px;
}
.footer-section ul {
    list-style-type: none;
    padding: 0;
}
.footer-section ul li {
    margin-bottom: 10px;
}
.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}
.footer-section ul li a:hover {
    color: white;
}
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #555;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}
.latest-posts {
    padding: 40px 20px;
    background: #f4f4f4;
}

.latest-posts h2 {
    text-align: center;
    margin-bottom: 20px;
}
.post-card {
    width: 350px;
    height: 320px;
    text-decoration: none;
    color: black;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    cursor: pointer; /* Changes cursor to a pointer */
}

.post-card:hover {
    text-decoration: underline;
}

.post-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
@media screen and (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }
    .nav-item {
        margin: 10px 0;
    }
    .dropdown-content, .single-dropdown {
        position: static;
        display: none;
        width: 100%;
        min-width: unset;
        transform: none;
        left: 0;
    }
    .dropdown-columns {
        flex-direction: column;
    }
    .dropdown-column {
        margin-bottom: 20px;
    }
    .nav-item:hover .dropdown-content,
    .nav-item:hover .single-dropdown {
        display: block;
    }
    .footer-section {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .hover-underline {
        text-decoration: none; /* No underline initially */
        cursor: pointer; /* Changes cursor to a pointer */
    }

    /* Apply underline on hover */
    .hover-underline:hover {
        text-decoration: underline;
    }
